In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print('Successfull\n')

Successfull

# 1. Setup & Load the Data

In [9]:
df = pd.read_excel('/Users/ammohan/Documents/A.GIT/SAMPLE-SUPERSTORE/samplesuperstore.xls')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### Dataset Overview
This analysis is based on the **Superstore Sales Dataset**, which contains detailed transactional data about sales, shipping, customers, and product information.

The dataset consists of Orders, People, Returns sheets in an **Excel file**, with the primary sheet used for analysis being **"Orders"**.

---

## Data Defintion

| Index | Column Name          | Description |
|--------|---------------------|-------------|
| 1 | **Row ID** | Unique identifier for each row in the dataset. |
| 2 | **Order ID** | Unique identifier for each order placed. |
| 3 | **Order Date** | The date when the order was placed. |
| 4 | **Ship Date** | The date when the order was shipped. |
| 5 | **Ship Mode** | The shipping method used for delivery (Standard Class, Second Class, etc.). |
| 6 | **Customer ID** | Unique identifier assigned to each customer. |
| 7 | **Customer Name** | Full name of the customer who placed the order. |
| 8 | **Segment** | The market segment of the customer (Consumer, Corporate, or Home Office). |
| 9 | **Country/Region** | The country or region where the customer is located. |
| 10 | **City** | The city where the customer is located. |
| 11 | **State** | The state where the customer is located. |
| 12 | **Postal Code** | The postal code of the customer's location. |
| 13 | **Region** | The region where the customer is located (West, East, Central, South). |
| 14 | **Product ID** | Unique identifier for each product in the dataset. |
| 15 | **Category** | The broad category of the product (Furniture, Office Supplies, or Technology). |
| 16 | **Sub-Category** | The specific sub-category of the product (e.g., Chairs, Phones, Tables, etc.). |
| 17 | **Product Name** | The name of the product sold. |
| 18 | **Sales** | The total revenue generated from the sale of a product. |
| 19 | **Quantity** | The number of units sold for the product. |
| 20 | **Discount** | The percentage of discount applied to the product. |
| 21 | **Profit** | The net profit generated from the sale of the product. |

# 2. Basic Info and Cleaning

In [17]:
print('info',df.info())

print('describe',df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB
info None
describe             Row ID                     Order Date  \
count  9994.000000                           9994
mean   4997.500000  2016-04-30 00:07:12.259355648
min       1.000000            2014-01-03 00:00:00
25%    2499.250000            2015-05-23 00:00:00
50%    4997.500000            2016-06-26 00:00:00
75%    7495.750000            2017-05-14 00:00:00
max    9994.000000            2017-12-30 00:00:00
std    2885.163629                            NaN

                           Ship Date   Postal Code         Sales     Quantity  \
count                           9994   9994.000000   9994.000000  9994.000000
mean   2016-05-03 23:06:58.571142912  55190.379428    229.858001     3.789574
min              2014-01-07 00:00:00   1040.000000      0.444000     1.000000
25%              2015-05-27 00:00:00  23223.000000     17.280000     2.000000
50%              2016-06-29 00:00:00  56430.500000     54.490000     3.000000
75%              2017-05-18 00:00:00  90008.000000    209.940000     5.000000
max              2018-01-05 00:00:00  99301.000000  22638.480000    14.000000
std                              NaN  32063.693350    623.245101     2.225110

          Discount       Profit
count  9994.000000  9994.000000
mean      0.156203    28.656896
min       0.000000 -6599.978000
25%       0.000000     1.728750
50%       0.200000     8.666500
75%       0.200000    29.364000
max       0.800000  8399.976000
std       0.206452   234.260108